html {
    position: relative;
    min-height: 100%;
}

/* for footer */
body {
  margin-bottom: 50px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Fixed height of the footer */
  line-height: 50px; /* Vertically center the text */
  background-color: #f5f5f5;
}

img.em1 {
    height: 1em;
}
img.em15 {
    height: 1.5em;
}

a.nav-link {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.modal-full {
    min-width: 100%;
    height: 100%;
    margin: 0;
}
.modal-full > .modal-content {
    height: 100%;
}

/* drag-and-drop */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

.upload-drop-zone {
  /*color: #ccc;*/
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.rangeOptionCanvas {
    border: 1px solid #eee;
    cursor: pointer;
}
.rangeOptionCanvas:hover {
    border: 1px solid black;
}
.table td.shrink,
.table th.shrink {
    white-space: nowrap;
    width: 1%;
}

input.big-checkbox {
    width: 2em;
    height: 2em;
}